{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>
  <!-- author detail link not yet defined -->
  <p><strong>First Name:</strong> {{ author.first_name }}</p>
  <p><strong>Last Name:</strong> {{ author.last_name }}</p>
  <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <ul>
      {% for book in author.book_set.all %}
        <li>{{ book.title }}</li>
        <p>{{ book.summary }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <!-- You can add more details about the book here -->
        <br>
      {% endfor %}
    </ul>

    {% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}

   
  </div>
{% endblock %}
